# Ignore everything by default
/*
# Allow only essential files and folders for Hugging Face Space
!app.py
!gradio_dashboard.py
!df_with_emotions.csv
!tagged_description.txt
!faiss_index/
!requirements.txt
!README.md
!.gitignore

# Ignore __pycache__, venvs, and system files
__pycache__/
new_env/
*.ipynb
*.csv
!df_with_emotions.csv
!tagged_description.txt
*.pkl
*.faiss
*.pyc
.DS_Store
Thumbs.db
LICENSE
BookRecomdocs.txt
books_cleaned.csv
books_data_cleaned.csv
books_with_categories.csv
sentiment_analysis.ipynb
text_classification.ipynb
vector_search.ipynb